//LAYOUT FROM SAKAI
@import '@/assets/layout/layout.scss';
/* PrimeVue */
// @import 'primevue/resources/primevue.min.css'; // version deplicated. You must open the command line if you are using < 3.29.00
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

//estilos para los datatables en version mobile
table.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
  content: "-";
  background-color: #d33333;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
  top: 33%;
  left: 5px;
  height: 1em;
  width: 1em;
  margin-top: -5px;
  display: block;
  position: absolute;
  color: white;
  border: .15em solid white;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #31b131;
  background-color: #74a2ff;
}

// .btn-success,
// .btn-success:hover,
// .btn-success:active,
// .btn-success:visited,
// .btn-success:focus {
//     background-color: #157DEC;
//     border-color: #157DEC; 
// }
.btn-success:hover {
  background-color: white;
  border-color: green;
  color: green;
  /* #ECF7ED */
}

.no-habil {
  display: none;
}

@media (max-width: 767px) {
  .fs-6 {
    font-size: .875rem !important;
    line-height: 1.25rem;
  }

  .input-group {
    font-size: .775rem !important;
  }

  .habil {
    display: none;
  }

  .no-habil {
    display: inline-block;
  }
}